<html>
<body>
<div>
    <form action="/" method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <input type="submit" value="Добавить">
    </form>
</div>
<div>Список сообщений</div>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}

<form method="post" action="/filter">
    <input type="text" name="filter">
    <input type="submit" value="Найти">
</form>

</body>
</html>